@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Lumanosimo&family=Nunito+Sans:ital,wght@0,400;0,700;1,300;1,400;1,600;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.Page{
    display: flex;
    justify-content: center;
}

.LeftSide{
    /* min-width: 50%; */
    width: 55%;
}
.heading {
    font-weight: 900;
    font-size: 80px;
    text-align: left;
}
.points p{
    background-color: transparent;
    font-weight: 900;
    text-align: justify;
    padding: 6px;
    margin-bottom: 2px;
    overflow-wrap: break-word;
}
.RightSide{
    width: 400px ;
    place-items: end;
}

.Card{
    height: 50vmin;
    width: auto;
    aspect-ratio: 1;
    border-radius: 16px;
    background-color: aliceblue;
    position: relative;
    overflow: hidden;
}
.CardBackground{
    position: absolute;
    height: 100%;
    width: 100%;
}
.CardWrapper{
    padding:14px;
    width:max-content;
    position: absolute;
    text-align: center;
    inset: auto 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 8px;
}

@media only screen and (min-width:768px){
    .Card{
        height: 50%;
    }
}