@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Lumanosimo&family=Nunito+Sans:ital,wght@0,400;0,700;1,300;1,400;1,600;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


.parentDiv{
    height: 100vh;
    position: relative;
}
.imageDiv{
    height: 100vh;
    background:url('../assets/About_Bg.png') rgba(128, 128, 128, 0.8);
    background-blend-mode: multiply;
    background-repeat:no-repeat;
    background-position: center center; 
    background-size: cover;  
}
.aboutBody{
    position: absolute;
    top: 0%;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.leftSection{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 80vh;
    flex-wrap: wrap;
}
.aboutHeading{
    font-family: 'lakeZeroFonts';
    font-size: 50px;
}
.aboutDesc{
    color: black;
    font-weight: 700;
    font-size: 18px;

}

.aboutImg{
    height: 80vh;
    width: 35%;
    background-image: url('../assets/About.jpg');
    background-repeat:no-repeat;
    background-position: center center; 
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
}
.aboutOwner{
    background-color: white;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
hr{
    border-top: 1px dashed black;
    width: 35%;
}
.blurEnable{
    filter: blur(4px);
}
.blurDisable{
    filter: blur(0);
}

