.Page {
    background-image: url("src/assets/contact_bg.png"), linear-gradient(to right, black, rgba(0, 0, 0, 0) );
    background-blend-mode:overlay ;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}

.Container {
    width: 100%;
}

.ContactInfo {
    width: max-content;
    justify-content: start;
    padding: 14px;
    background-color: rgb(2, 73, 106);
    border-radius: var(--border-radius);
}
.ContactInfo .icon{
    height: 40px;
    width: 40px;
}

.Address {
    color: white;
    width: max-content;
    font-size: var(--font-small);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Address span:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    font-family: 'LakeZero';
    letter-spacing: 4px;
}
.SocialMedia{
    position: relative;
    margin-bottom: 0px;
    place-self: start;
    margin-left: 40px;
}
.Ribbon {
    height: auto;
    width: max-content;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(211, 78, 78, 0.75);
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 0;
    font-family: LakeZero;
    font-size: 5vmin;
    display: grid;
    place-items: center;
}

.Form {
    width: 70%;
    height: auto;
    aspect-ratio: 4/3;
    place-self: center;
}

@media only screen and (max-width:480px) {
    .Form {
        width: 100%;
        aspect-ratio: 3/4;
    }

    .ContactInfo {
        flex-direction: column;
    }
}

@media only screen and (max-width:480px) {
    .FormContainer {
        flex-direction: column-reverse;
    }

    .ContactInfo {
        width: 100%;
    }
}