.background{
    background-image: url("../assets/Bg.jpg");
    min-height: 100vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img{
    width: 70%;
    height: auto;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
