@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.custombackground {
    background-color: transparent;
}

.NavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 1;
    transition: all 0.1s ease-in-out;
}

.someClass {
    position: relative;
}

.NavBarWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.NavBarMenu {
    font-family: 'LakeZero';
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.NavItem {
    width: auto;
    padding: 8px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    transition: transform 0.5s ease;
}

.NavItem:hover {
    color: rgb(90, 155, 221);
    transform: translateY(-3px) scale(1.1);

}

.BrandName {
    width: auto;
    height: 56px;
}

.BrandNameImg {
    height: inherit;
    width: auto;
}

.NavBarToggle {
    height: 30px;
    width: 30px;
    background-image: url('../assets/icons8-guitar-80.png');
    background-size: contain;
    padding: 4px;
    background-color: cyan;
    display: none;
}

@media only screen and (max-width:768px) {
    .NavBar {
        height: 100%;
        position: absolute;
    }

    .NavBarCollapseGlassMorphism {
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(37, 52, 79, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.125);
        transition: all 0.1s ease-in-out;
    }

    .NavBar .NavBarWrapper {
        justify-content: start;
        flex-direction: column;
    }

    .NavBar .NavBarWrapper .NavBarToggle {
        display: flex;
        place-self: end;
    }

    .NavBarMenu {
        display: none;
        flex-direction: column;
    }

    .NavBarToggle {
        display: block;
    }

    .NavBarVisible {
        display: flex;
    }
}

.hoverunderlineAnimation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:
        #0087ca;
    transform-origin: bottom right;
    transition: transform 0.4s ease-in;
}

.hoverunderlineAnimation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}