@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.custombackground{
    background-color: transparent;
}

.NavBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 1;
}
.NavBarCollapse{
    transition: all 0.1s ease-in-out;
}

.someClass{
    position: relative;
}
.NavBarCollapseGlassMorphism{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(37, 52, 79, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: all 0.1s ease-in-out;
}
.NavBarCollapse .NavBarWrapper{
    justify-content: start;
    flex-direction: column;
}
.NavBarCollapse .NavBarWrapper .NavBarToggle{
    display: flex;
    place-self: end;
}
.NavBarWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.NavBarMenu{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-between;
}

.NavBarCollapseMenu{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: space-between;
}

.NavBarHidden{
    display: none;
}

.NavItem{
    width:auto;
    padding:8px;
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.NavItem:hover {
    color:red
}

.BrandName{
    width :auto;
    height: 56px;
}

.BrandNameImg{
    height: inherit;
    width: auto;
}

.NavBarToggle{
    height: 30px;
    width: 30px;
    background-image: url('../assets/icons8-guitar-80.png');
    background-size: contain;
    padding: 4px;
    background-color: red;
}