.Page{
    padding: 30px 10vw ;
    overflow: hidden;
    position: relative;
    height: max-content;
    /* transform: translateZ(0); */
    opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .PageAnimation{
    transition: opacity 0.5s ease;
    opacity: 1;
  }
}
.Container{
  display: flex;
  justify-content: space-between;
  gap:10px;
}
.ContainerColFlex{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap:10px;
}
.Title {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Lakezero';
    color: #ffb5b5;
  }
.Text{
  font-size: 18px;
  font-weight: 600;
  color: wheat;
}
.Note {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 40px;
    color: #7c8e9a;
}
@media only screen and (max-width: 480px) {
  .Page{
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .Text{
    font-size: 16px;
  }
  .Title{
    font-size: 36px;
  }
}