.Page{
    /* background-image: url('../assets/WORK_BG.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.CarouselContainer{
    color: #000000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
.CarouselWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  }
  
  
.Carousel {
    display: flex;
    overflow: hidden;
    user-select: none;
      width: 100%;
      --webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  }
  
  
.CardContainer{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    animation-delay: -5s;
    gap: 10px;
  }

.CardWrapper{
    border-radius: 16px;
    width: 250px;
    aspect-ratio: 4/4;
    background: white;
    position: relative;
    overflow: hidden;
}

.Card{
    height: 100%;
    width: 100%;
    padding:16px 20px;
    position: relative;
}
.CardBackground{
    position: absolute;
    background-color: rgb(224, 213, 213);
    height: 100%;
    width:100%;
}
.Container{
    height: auto;
    overflow: hidden;
}
@media only screen and (max-width:768px) {
    .Container{
        flex-direction: column;
    }
    .CardWrapper{
        width:100%;
        height: auto;
        aspect-ratio: 4/3;
    }
}