.SocialMediaContainer {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    place-self: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    gap:10px
}

.iconStyle {
    height: 50px;
    width: 50px;
}
.SocialMedia{
    transition: all 1s ease;
}
.SocialMedia:hover{
    transform: scale(1.1);
}