.Page{
    background-image: url('../assets/WORK_BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 100px);
}


.CardWrapper{
    border-radius: 16px;
    height: 400px;
    aspect-ratio: 3/4;
    background: white;
    position: relative;
    overflow: hidden;
}

.Card{
    height: 100%;
    width: 100%;
    padding:16px 20px;
    position: relative;
}
.CardBackground{
    position: absolute;
    background-color: rgb(224, 213, 213);
    height: 100%;
    width:100%;
}