@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*,
:root {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  --border-radius:8px;
  --font-extra-large:72px;
  --font-large:50px;
  --font-small:16px;
  --font-extra-small:12px;
  --title-font-size:36px;
  --text-font-size:16px;
}

@font-face {
  font-family: 'LakeZero';
  src: url('../src/assets/LakeZero-Regular1.ttf');
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

hr {
  height: 1px;
  background: black;
  color: black;
  border-radius: 1px;
  border: none;
}

a:visited {
  color: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}

.displayNone {
  display: none;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(3, 47, 76);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}