@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
*,:root {
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

body{
    margin: 0px;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}